.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
}

.feature {
  background: red;
}

.feature-straight {
  background: #f6f6f7;
}

.feature .alternate {
  background: green;
}