.uc-mymy {
    background: linear-gradient(135deg, rgba(79, 113, 235, 0.2) 9.8%, rgba(232, 79, 235, 0.2) 92.84%);
}
/*
     FILE ARCHIVED ON 21:38:19 Feb 27, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:46:00 Apr 27, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.936
  exclusion.robots: 0.116
  exclusion.robots.policy: 0.103
  cdx.remote: 0.082
  esindex: 0.013
  LoadShardBlock: 97.44 (3)
  PetaboxLoader3.datanode: 192.161 (5)
  load_resource: 186.669
  PetaboxLoader3.resolve: 27.975
  loaddict: 68.038
*/