/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:400,600&display=swap');

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  background: transparent;
  /* height: 10vh !important; */
  /* background: linear-gradient(135deg, #00cafe, #007ca6 20%, #005777 40%, #1e3a5f 60%, #002e4a 80%, #002832); */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.readersCounter {
  font-size: 24px;
  font-weight: bold;
}

.titleSecondary {
  text-align: center;
  color: #005777;
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
}


:root {
  --black: #000;
  --bright-cyan-50: rgba(63, 196, 254, 0.2);
  --bright-cyan: #3fc4fe;
  --dark-blue-grey: #211b50;
  --dark-slate-blue: #2d2665;
  --dodger-blue-10: rgba(63, 187, 254, 0.1);
  --dodger-blue: #3fbbfe;
  --dusk-blue: #412a94;
  --greenblue-10: rgba(31, 216, 152, 0.1);
  --greenblue: #1fd898;
  --grey: #eee;
  --greyish-brown: #474747;
  --pale-grey: #e8e6f5;
  --periwinkle-50: rgba(136, 89, 255, 0.2);
  --periwinkle: #8759ff;
  --sea-green-50: rgba(66, 255, 172, 0.2);
  --sea-green: #42ffac;
  --white: #fff;

  --uni-background-color: var(--white);
  --uni-heading-color: var(--dusk-blue);
  --uni-heading-helper-color: var(--dusk-blue);
  --uni-hero-bgcolor: var(--dark-blue-grey);
  --uni-oval-background-color: var(--white);
  --uni-oval-shadow-color: var(--pale-grey);
  --uni-testimonial-text-color: var(--greyish-brown);
  --uni-toolbar-bgcolor: var(--grey);

  --ifm-button-color: var(--white);
}


.system-window {
  --ifm-leading: 0;
  width: 95%;
  padding: 0;
  border-radius: 1em;
  overflow: hidden;
  background: rgb(33, 27, 80);
}

@media screen and (max-width: 996px) {
  .system-window {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.system-window iframe {
  border-radius: unset;
}

.system-top-bar {
  background-image: linear-gradient(to right,
      var(--periwinkle-50),
      var(--bright-cyan-50) 90%,
      var(--sea-green-50));
  padding: 0.25em 1em;
}

.system-top-bar-circle {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-left: 0.3em;
  border-radius: 50%;
  filter: brightness(100%);
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-pair-active {
  display: flex;
  justify-content: center;
  height: auto;
}

@media (max-width: 768px) {
  .testimonials-pair-active {
    flex-direction: column;
  }
}

.testimonials-pair-inactive {
  display: none;
}

@media (max-width: 768px) {
  .testimonials-pair-inactive {
    flex-direction: column;
  }
}

/* 
.testimonial {
  margin: 2em;
  background: var(--ifm-background-surface-color);
}

.testimonial-content {
  width: 420px;
  height: 100%;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-links-wrapper {
  width: 140px;
  max-width: 140px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: var(--dusk-blue);
}

.testimonial-links-wrapper a {
  color: var(--dusk-blue);
}

.testimonial-description::before {
  content: '„';
}

.testimonial-description::after {
  content: '”';
}

.testimonial-avatar {
  width: 100px;
  border-radius: 50%;
  margin: 15px 0 10px;
} */

.text {
  font-family: Poppins, sans-serif;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: var(--ifm-font-color-base);
}

.text-big {
  font-size: 1.5em;
  font-weight: bold;
}

.text-huge {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.25;
}

.title {
  color: var(--white);
  display: block;
}

.description {
  color: var(--bright-cyan);
  display: block;
  margin: 24px 0;
}

@supports (background-clip: text) {
  .description {
    background: linear-gradient(to right,
        #00cafe 20%,
        #8b5cf6 50%,
        #d946ef 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.bullets li::before {
  background-color: white !important;
}

.bullets li {
  color: white;
  opacity: 1 !important;
  margin-bottom: 10px;
}

.code {
  background: red;
}