/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:400,600&display=swap');

.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  background: transparent;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.system-window {
  --ifm-leading: 0;
  width: 95%;
  padding: 0;
  border-radius: 1em;
  overflow: hidden;
  background: rgb(33, 27, 80);
}

@media screen and (max-width: 996px) {
  .system-window {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.system-window iframe {
  border-radius: unset;
}

.system-top-bar {
  background-image: linear-gradient(to right,
      rgba(136, 89, 255, 0.2),
      rgba(63, 196, 254, 0.2) 90%,
      rgba(66, 255, 172, 0.2));
  padding: 0.25em 1em;
}

.system-top-bar-circle {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-left: 0.3em;
  border-radius: 50%;
  filter: brightness(100%);
}

.text {
  font-family: Poppins, sans-serif;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: var(--ifm-font-color-base);
}

.text-big {
  font-size: 1.5em;
  font-weight: bold;
}

.text-huge {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.25;
}

.title {
  color: white;
  display: block;
}

.description {
  display: block;
  margin: 24px 0;
}

@supports (background-clip: text) {
  .description {
    background: linear-gradient(to right,
        #00cafe 20%,
        #8b5cf6 50%,
        #d946ef 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.bullets li::before {
  background-color: white !important;
}

.bullets li {
  color: white;
  opacity: 1 !important;
  margin-bottom: 10px;
}