.section {
  padding: 40px 0;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

.testimonialsSection > :global(.col) > * {
  margin-bottom: 2rem;
}

@media (max-width: 996px) {
  .testimonialsSection > :global(.col:last-child) > *:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 997px) {
  .testimonialsSection > :global(.col) > *:last-child {
    margin-bottom: 0;
  }
}
